@font-face {
  font-family: sukhumvit;
  src: url('../sukhumvitset-text-webfont.ttf') format("truetype");
}
.container{
	width: 960px;
}
body {
	font-family: sukhumvit;

}
.r-menu {

	background: #F64747;
	padding: 0.4em 0;
	border-bottom: 5px solid;
	border-color: #F1A9A0;

}
.r-menu ul {
	padding-top: 7px;
	margin-left: -45px;
}
.r-menu ul li {
display: inline-block;
margin: 0 12px;
}
.r-menu ul li a {
text-decoration: none;
margin: 0.5em 0;
display: block;
color: #494949;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
}
.r-menu ul li a {
text-decoration: none;
margin: 0.5em 0;
display: block;
color: #494959;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
}
.r-menu ul li.active a {

color: #F22613;

}
.r-menu ul li a:hover{
	color: #FFECDB;
	transition: .4s;
}
#r-menu-drop
{
	color: #494959;
}
#r-menu-drop:hover{
	color: #e51b24;
	background:transparent;
	transition: .4s;
}
.r-header-container{
	margin-top: 15px;
	background-image: url('../logo_sub.png');
	height: 180px;
	background-repeat: no-repeat;
	background-position: left;
	
}

.r-header-container-2{
	background: url('../bg-wood.jpg')50% 50% repeat;
	background-size: 100%;
	width: 100%;
	height: 60px;
	z-index: 11;

}

.r-header-container-2 .container p{
	margin-top: 20px;
	color: white;
}




.menutype{
	background-color: #ECECEC;
}
.menutype-menu-content{
	padding: 5em 0;
}
#head{
	color: black;
	font-size: 30px;
	text-decoration: none;
	margin-bottom: 1em;
	border: 5px solid;
	padding: 10px 55px;
}
.menutype-menu-content-head{
	text-align: center;
	margin-bottom: 5em;
}
.menutype-menu-grid{
	background-color: white;
	padding-bottom: 0em;
	padding-top: 15px;
	border-bottom: 1px solid #D7D7D7;
	margin-bottom: 0em;
	margin-top: 10px;
	display: block;

}
.menutype-menu-grid-sub{
	margin-bottom: 1em;
}
.menutype-menu-grid-sub-title{
	
}
.menutype-menu-grid-sub-title h4{

	
}
#title{
	text-decoration: none;
	color: black;
	font-size: 20px;
	border-bottom: 1px dotted #000000;
	padding-bottom: 5px;

}
#username{
	font-style: italic;
	font-size: 16px;
	margin-top: 25px;
}
.menutype-rating span {
	display: block;
	font-size: 1.23em;
	font-weight: 600;
	margin-left: 5px;
}
#more-button{
	font-size: 16px;
	text-align: right;
	padding: 15px 30px;
	background: #F64747;
	border-radius: 20px;
	border: none;
	color: white;
	margin-top: 40px;
}
#more-button:hover{
	color: white;
	background-color: #CF000F;
	transition: 0.5s;
}